<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <div class="row">
        <h3 style="text-align: center;">Афиша кинотеатра</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Фильм</th>
                <th>Немного о фильме</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="film: ${films}">
                <td>
                    <img th:src="@{/files/{fileId}(fileId=${film.fileId})}" style="width:180px" alt="No image">
                </td>
                <td th:text="${film.name}" />
                <td>
                <br th:text="${film.description}" />
                <br th:text="'Год выпукска: ' + ${film.filmYear}" />
                <br th:text="'Жанр: ' + ${film.genre}" />
                <br th:text="'Для зрителей старше ' + ${film.minimalAge}" />
                <br th:text="'Продолжительность ' + ${film.duration}" />
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>